p#notice
  = notice
h1
  | Cap Table
table.table.table-hover
  thead.thead-light
    tr
      th[colspan="3"]
        | Pre Finance
      th[colspan="4"]
        | Post Finance
    tr
      th
        | Name
      th
        | Investment
      th
        | Stake
      th
        | Investment
      th
        | Nr Shares Issued
      th
        | Price Per Share
      th
        | Stake
  tbody
    - @displaydata.each do |data|
      tr
        th[scope="row"]
          = data[:name]
        td
          = data.fetch(:pre_finance,{}).fetch(:investment, '-')
        td
          = number_to_percentage data.fetch(:pre_finance,{}).fetch(:stake) * 100 rescue "-"
        td
          = data[:post_finance][:investment]
        td
          = data[:post_finance][:nr_shares]
        td
          = number_with_precision data[:post_finance][:price_per_share], precision: 2
        td
          = number_to_percentage data[:post_finance][:stake] * 100, precision: 2
  tfoot
    tr
      th[scope="row"]
        | Total
      th[scope="row"]
        = @displaydata.map{|data|data.fetch(:pre_finance,{}).fetch(:investment,0)}.sum
      th[scope="row"]
        =
      th[scope="row"]
        = @displaydata.map{|data|data.fetch(:post_finance,{}).fetch(:investment,0)}.sum
      th[scope="row"]
        = @displaydata.map{|data|data.fetch(:post_finance,{}).fetch(:nr_shares,0)}.sum
      th[scope="row"]
        =
      th[scope="row"]
        = number_to_percentage @displaydata.map{|data| data.fetch(:post_finance,{}).fetch(:stake, 0)}.sum * 100
table.table
  thead.thead-light
    tr
      th
        | Pre money Valuation
      th
        | Post money Valuation
  tbody
    tr
      td
        = number_with_precision @pre_money_valuation, precision: 2
      td
        = number_with_precision @post_money_valuation, precision: 2
= link_to 'New Investment Round', new_investment_path, class: "nav-link active"
